.weather-details {
  padding: 2rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
