.details {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-radius: 20px;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2.4rem;
}

.left {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 4.8rem;
}

.left img {
  position: absolute;
  top: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  background-color: #efefef;
  grid-column: span 2 / span 2;
  padding: 4.2rem 2.4rem;
}

.right h2 {
  margin-bottom: 2rem;
  font-weight: 300;
}

.temperature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.temperature h2 {
  color: #343a40;
  font-size: 4.8rem;
  font-weight: 400;
}

.name {
  font-weight: 400;
}

.value {
  font-size: 2rem;
  font-weight: 400;
}

.timestamp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.divider {
  width: 50%;
  height: 0.24rem;
  background-color: #f1f3f5;
  border-radius: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .grid {
    
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid {
     
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid {
     
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .grid {
     
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}