.favorite-card {
  position: relative;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: 1px solid #adb5bd;
  padding: 1rem 1.4rem;
  cursor: pointer;
}

.content {
  display: flex;
  gap: 1rem;
}

.content h4{
  white-space: nowrap;
}

.close-button {
  font-size: .4rem;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px #dddddd;
  background-color: #fff;
  color: #343a40;
  padding: 0.2rem;
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
}
