.favorite-card {
  position: relative;
  box-shadow: 3px 3px 10px 3px #dddddd;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 1rem 1.4rem;
  cursor: pointer;
}

.content {
  display: flex;
  gap: 0.5rem;
}

.close-button {
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px #dddddd;
  background-color: #fff;
  padding: 0.4rem;
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
}
