.search {
  width: 100%;
}

.search label {
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.input {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  /* border: 1px solid rgba(59, 130, 246, 0.5); */
  padding: 1.4rem 3.2rem 1.4rem 2.4rem;
  border-radius: 20px;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.input input[type='search'] {
    width: 100%;
  display: inline-block;
}

.input input[type='search']::placeholder {
  font-size: 1.6rem;
}

.input svg {
  font-size: 1.8rem;
}
