.info-card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 2rem;
  background-color: #f8f9fa;
  color: #343a40;
  border-radius: 20px;
}

.info-card h4 {
  font-weight: 400;
}

.value {
  font-size: 2rem;
  font-weight: 400;
}