@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  background-color: #d1cfcf;
  /* #f1f3f5; */
}

main {
  flex: 1;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
  background: none;
}

button {
  font-size: inherit;
}

input {
  outline: none;
}

ul,
ol {
  list-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
